.DS_Store

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints in all directories
.ipynb_checkpoints/

# uv dependencies
__pycache__/
node_modules/
dist/
build/
*.log
*.lock

# Large raw data files
raw-data/larger-model-processed/300-bus/
raw-data/larger-model-processed/118-bus/

# lp files for 57-300bus models on the google drive instead
# https://drive.google.com/drive/folders/1C6V5a8gNIA1WLTsRll5fyb1bNwp5DOq3?usp=sharing
da-clearance-lp/results/57-bus/*.lp
da-clearance-lp/results/118-bus/*.lp
da-clearance-lp/results/300-bus/*.lp
