.DS_Store

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints in all directories
.ipynb_checkpoints/

# uv dependencies
__pycache__/
node_modules/
dist/
build/
*.log
*.lock
